---
import type { Experience } from "~/types/experience";

export type Props = Experience;

const {
	company,
	title,
	tasks,
	images,
	type,
	time: [start, finish],
} = Astro.props as Experience;

const startDate = new Date(start).toLocaleDateString("en-GB", {
	month: "short",
	year: "numeric",
});
const finishDate =
	finish === null
		? "Current"
		: new Date(finish).toLocaleDateString("en-GB", {
				month: "short",
				year: "numeric",
		  });
---

<div class="relative mb-8">
	<div class="flex justify-between items-center">
		<span class="text-xl font-bold font-heading text-slate-800">{title}</span>
		<span class="text-lg font-medium font-heading text-slate-600">{startDate} - {finishDate}</span>
	</div>
	<span class="text-base text-slate-600 font-sans"><span class="capitalize">{type}</span> - {company}</span>
	<ul class="font-sans list-outside leading-relaxed pl-0 text-slate-600 text-base">
		{tasks.map((task) => <li>{task}</li>)}
	</ul>
</div>

{images.join("\n")}
