---
import { getCollection } from "astro:content";
import Icon from "astro-icon";
import MainLayout from "~/layouts/MainLayout.astro";
import siteData from "~/data/sites";
import WorkExperienceSection from "~/components/section/WorkExperienceSection.svelte";
import ProjectSection from "~/components/section/ProjectSection.svelte";
import BlogSection from "~/components/section/BlogSection.svelte";
import { workExperiences } from "~/data/work-experience";

const socials = [
	{ icon: "ph:envelope-duotone", link: siteData.email },
	{ icon: "ph:github-logo-duotone", link: siteData.github },
	{ icon: "ph:linkedin-logo-duotone", link: siteData.linkedin },
	{ icon: "ph:twitter-logo-duotone", link: siteData.twitter },
]

const personalProjects = await getCollection("projects", ({ data }) => data.type === "personal" && data.featured);
const sortedPersonalProjects = personalProjects.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

const openSourceProjects = await getCollection("projects", ({ data }) => data.type === "open-source" && data.featured);
const sortedOpenSourceProjects = openSourceProjects.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));

const posts = await getCollection("posts", ({ data }) => !data.draft);
const sortedPosts = posts.sort((a, b) => (a.data.date > b.data.date ? -1 : 1));
---

<MainLayout seo={{ title: "Home" }}>
	<main class="mx-auto max-w-[920px] px-4 py-10">
		<header class="flex gap-24 border-b border-pink-800 border-dashed border-spacing-lg pb-6">
			<div class="flex-1">
				<h1 class="text-2xl font-bold font-serif text-pink-950">
					Dicha Zelianivan Arkana
				</h1>
				<p class="leading-relaxed font-serif text-pink-950/80 py-2">
					A software engineer focusing on delivering high-quality software that helps people to solve their
					problems.
				</p>
				<div class="flex items-center gap-2 pt-2">
					{socials.map((social) => (
						<a
							href={social.link}
							class="text-pink-950/80 hover:text-pink-950 p-1 rounded-md border border-pink-300"
						>
							<Icon name={social.icon} class="w-6 h-6" />
						</a>
					))}
				</div>
			</div>
			<div class="w-36 h-36 bg-pink-100 rounded-lg"></div>
		</header>
		<section class="pt-10">
			<h2 class="text-2xl font-bold font-serif text-pink-950 pb-4">About Me</h2>
			<p class="leading-relaxed font-serif text-pink-950/80">
				A software engineer with over 4 years of experience in software development. My experience mostly
				consists of web development, but I'm open to other platforms as long as it helps people solve their
				problems. I work mostly with Typescript, React, Svelte, and Node.js. Currently an undergraduate studying
				Informatics Engineering at State Polytechnic of Malang.
			</p>
		</section>
		<WorkExperienceSection client:visible workExperiences={workExperiences} />
		<ProjectSection
			client:visible title="Personal Projects"
			description="These are some of my personal projects that I made in the past. Some of them are still in use, some are not. Mostly made them just for fun and to learn new things."
			projects={sortedPersonalProjects}
			seeMoreUrl="/projects"
		/>
		<ProjectSection
			client:visible title="Open Source Projects"
			description="These are some open source projects that I actively help maintain. Most of them are from Teknologi Umum, a community that I'm part of."
			projects={sortedOpenSourceProjects}
		/>
		<BlogSection client:visible posts={sortedPosts} />
	</main>
</MainLayout>
