---
import CodeCopy from "~/components/CodeCopy.svelte";
import sites from "~/data/sites";
import type { PostMeta } from "~/models/post";
import PencilIcon from "~icons/ph/note-pencil";
import BackButton from "../components/BackButton.astro";
import MainLayout from "./MainLayout.astro";

export type Props = {
	frontmatter: PostMeta;
	slug: string;
	wordCount: number;
	readingTime: number;
};

const { frontmatter, slug, wordCount, readingTime }: Props = Astro.props;

const commentOptions = {
	src: "https://giscus.app/client.js",
	"data-repo": "elianiva/elianiva.my.id",
	"data-repo-id": "MDEwOlJlcG9zaXRvcnkzMDE0NjE4NDU=",
	"data-category": "General",
	"data-category-id": "DIC_kwDOEffxVc4CRq7s",
	"data-mapping": "pathname",
	"data-strict": "0",
	"data-reactions-enabled": "1",
	"data-emit-metadata": "0",
	"data-input-position": "bottom",
	"data-lang": "en",
	crossorigin: "anonymous",
	async: true,
};

const ogImageParams = new URLSearchParams({
	title: frontmatter.title,
	date: frontmatter.date.toISOString(),
	tags: frontmatter.tags.join(","),
	description: frontmatter.description,
});
---

<style>
	:global(div[data-rehype-pretty-code-fragment]) {
		background-color: #0d1117;
		border-radius: 0.5rem;
	}
</style>

<MainLayout
	seo={{
		isPost: true,
		title: frontmatter.title,
		description: frontmatter.description,
		keywords: frontmatter.tags,
		thumbnail: `${sites.siteUrl}/api/og-image?${ogImageParams.toString()}`,
		publishedAt: frontmatter.date.toISOString(),
	}}
	isPost={true}
>
	<main class="mx-auto max-w-[64ch] px-4 lg:px-0 py-10" transition:name={`post-card-${slug}`}>
		<BackButton />
		<h1
			class="text-center font-heading text-3xl uppercase mt-12 mb-2 font-semibold text-pink-950"
		>
			{frontmatter.title}
		</h1>
		<div class="flex flex-col md:flex-row md:justify-center items-center gap-2 font-body text-sm md:text-base md:leading-loose text-pink-950/70">
			Posted on
			<span class="text-pink-600 font-medium">
			{
				new Date(frontmatter.date).toLocaleDateString("en-GB", {
					weekday: "long",
					day: "numeric",
					month: "long",
					year: "numeric",
				})
			}
			</span>
			<span class="font-medium">
				<span class="hidden md:inline">- </span> {readingTime} min read · {wordCount.toLocaleString("en-GB")} words
			</span>
		</div>
		<a
			class="block text-center relative no-underline hover:underline hover:text-pink-400 font-body text-sm md:text-base text-pink-950/70 mb-2 focus:outline-none focus:ring-2 focus:ring-pink-400 focus:ring-offset-2 rounded px-2 py-1"
			href={`https://github.com/elianiva/elianiva.my.id/blob/master/src/content/posts/${slug}.mdx`}
			target="_blank"
			rel="norel noreferrer"
			aria-label="Suggest an edit to this post on GitHub"
		>
			Suggest An Edit
			<PencilIcon width="16" height="16" class="inline-block" />
		</a>
		<div class="justify-center flex gap-2 pb-4 mb-8 border-b border-dashed border-pink-300">
			{frontmatter.tags.map((tag) => <span class="font-mono text-pink-700/80 text-sm font-medium">#{tag}</span>)}
		</div>
		<div transition:name={`post-content-${slug}`}>
			<main class="font-body mx-auto max-w-[64ch] prose">
				<slot />
				<div>
					<script is:inline {...commentOptions} data-theme="light"></script>
				</div>
				<p class="mt-4! text-sm text-pink-950/70">
					If you don't see any comment section, please turn off your adblocker :)
				</p>
			</main>
		</div>
	</main>
	<CodeCopy client:load />
</MainLayout>
